(cdn_redir) {
    # vars cdn_url https://debs-1302990626.cos.ap-guangzhou.myqcloud.com
    vars cdn_url https://gitee.com/RemotePro/RemotePro/releases/download/v1

    redir /TrollRestore https://gitee.com/RemotePro/RemotePro/releases/download/v3/TrollRestore 302
    redir /rootless https://gitee.com/RemotePro/RemotePro/releases/download/v3/Dopamine.tipa 302
    redir /roothide https://gitee.com/RemotePro/RemotePro/releases/download/v3/Dopamine2.tipa 302

    handle /debs/*.deb {
        # 定义正则匹配器，捕获文件名部分
        @deb_capture path_regexp deb ^/debs/(.*\.deb)$
        
        redir @deb_capture {vars.cdn_url}/{re.deb.1} 302
    }

    handle /Packages.bz2 {
        @not_cydia {
            not header User-Agent *Cydia*
        }
        
        respond @not_cydia "Not Found" 404
    }

    handle {
        @should_redirect {
            not path / /Release /Packages* /CydiaIcon* /favicon.ico
        }

        # 这里的 {uri} 会保留原始目录结构
        redir @should_redirect {vars.cdn_url}{uri} 302
    }
}

remotepro.cn {
    root * /usr/share/caddy

    import cdn_redir

    file_server
}

aj.remotepro.cn {
    root * /usr/share/caddy
    
    rewrite /Packages.zst /Packages.aj.zst
    redir /debs/* https://aptd.mobileanjian.com{uri} 302

    import cdn_redir
    
    file_server
}
