(cdn_redir) {
    # vars cdn_url https://debs-1302990626.cos.ap-guangzhou.myqcloud.com
    vars cdn_url https://gitee.com/RemotePro/RemotePro/releases/download/v1

    handle /debs/*.deb {
        # 定义正则匹配器，捕获文件名部分
        @deb_capture path_regexp deb ^/debs/(.*\.deb)$
        
        redir @deb_capture {vars.cdn_url}/{re.deb.1} 302
    }

    handle /Packages.bz2 {
        @not_cydia {
            not header User-Agent *Cydia*
        }
        
        respond @not_cydia "Not Found" 404
    }

    handle {
        @should_redirect {
            not path / /Release /Packages* /CydiaIcon* /favicon.ico
        }

        # 这里的 {uri} 会保留原始目录结构
        redir @should_redirect {vars.cdn_url}{uri} 302
    }
}

remotepro.cn {
    root * /usr/share/caddy

    import cdn_redir

    file_server
}

cydia.remotepro.cn {
    root * /usr/share/caddy
    
    # rewrite /Packages.bz2 /Packages.cydia.bz2
    # rewrite /Release /Release.cydia

    import cdn_redir
    
    file_server
}
