name: Build APT Repository Index

on:
  push:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  TZ: Asia/Shanghai

jobs:
  job:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - name: Generate Packages Index
        run: |
          dpkg-scanpackages -m ./debs > Packages

          sed -i 's/Section: Packaging/Section: 应用程序/g' Packages
          sed -i 's/Section: Tweak Injection/Section: 插件/g' Packages
          sed -i 's/Author: YKP/Author: 全场景设备智控方案/g' Packages

          sed -i 's#./debs/#https://gitee.com/RemotePro/RemotePro/releases/download/v1/#g' Packages

          bzip2 -c Packages > Packages.bz2

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          file_pattern: Packages.bz2
      
          
